<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cst_438_project_03">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quiz Time!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CST_438_Project_03">
        <activity
            android:name=".optionPopup"
            android:theme="@style/AppTheme.CustomTheme"
            android:exported="false" />
        <activity
            android:name=".user_edit_profile"
            android:exported="false" />
        <activity
            android:name=".usersTest"
            android:exported="true" />
        <activity
            android:name=".UserViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditQuizNameDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".EditAnswerQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".TempPageActivity"
            android:exported="false" />
        <activity
            android:name=".apiTest"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAcc" />
        <activity android:name=".Login" />
        <activity android:name=".CreateQuiz" />
        <activity android:name=".QandA" />
        <activity android:name=".ViewQuiz" />
        <activity android:name=".Flashcards" />

    </application>

</manifest>